body{
    background-color: rgb(255, 239, 242);
    color: maroon;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

h1{
    color: rgb(255, 255, 255) !important;
    -webkit-text-stroke: 1px maroon;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}

.img{
    border: 7px solid rgb(255, 255, 255); /* Border width, style, and color */
    width: 350px; /* Optional: Adjust the image size */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    top:10px;
    left: 25px;
  }


.box1 {
    position: absolute; /* Allows positioning over the image */
    top: 55%; /* Vertically centers the text */
    left: 62%; /* Horizontally centers the text */
    transform: translate(-50%, -50%); /* Centers text precisely */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Optional: Adds shadow for readability */
    white-space: nowrap;
}

.footer {
    background-color: #ffffff;
    color: maroon;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
